*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



    .main-heading{
    color: red;
}


.main-heading-2{
    color: blue;
}


/* 1rem = 16px */
/* 1em = 16px */
/* % */
/* vh */
/* vw */


.box-model{
    padding: 100px 50px;
    margin: 50px;
    border: 2px solid red;
}


.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 10px;
    padding: 10px 30px;

    
}

.first-div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-image{
    height: 20px;
    width: 70px;
}


.menu-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 8px;
    
 
}

li{
    text-transform: uppercase;
    font-family: serif;
}



.search-list{
    display: flex;
    align-items: center;
    gap: 4px;
    list-style: none;
}